:root{
  --roxo:#551d75;
  --dourado: #f5c477;
  --marrom: #966541;
  --branco: #fff;
  --preto: #000;
  --font: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
